<ul class="nav nav-pills nav-justified affaire-navbar">

  <li *ngIf="errorLoading" class="error">
    &nbsp; Erreur lors du chargement des infos de l'affaire. Veuillez réessayer
  </li>

  <li *ngIf="!errorLoading" class="active">
    <a [routerLink]="['/affaires', id_client]">Affaire N° {{client.affaire}}</a>
  </li>

  <li *ngIf="!errorLoading">
    <a routerLink="gestion-moe">Gérer les MOE</a>
  </li>

  <li *ngIf="!errorLoading">
    <a routerLink="devis">GP</a>
  </li>

  <li *ngFor="let artisan of artisansByClientList | async">
    <a [routerLink]="['/affaires',id_client,'devis', artisan._id]">{{artisan.corps_metier}}</a>
  </li>


  <li *ngIf="!errorLoading">
    <a routerLink="devis">MOE 1</a>
  </li>
  <li *ngIf="!errorLoading">
    <a href="#">MOE 2</a>
  </li>
  <li *ngIf="!errorLoading">
    <a href="#">MOE 3</a>
  </li>
</ul>