.affaire-navbar {
  margin-top: -68px;
  position: fixed;
  z-index: 1;
  padding-right: 10px;
  background-color: #eee;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.dashboard-page {
  background-color: rgb(247, 171, 31);
}

/* .dashboard-page:hover {
  background-color: rgb(212, 164, 73);
} */
