<ul class="nav nav-pills nav-justified affaire-navbar">

  <li *ngIf="errorLoading" class="error">
    &nbsp; Erreur lors du chargement des infos de l'affaire. Veuillez réessayer
  </li>

  <li *ngIf="!errorLoading" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="dashboard-page" [routerLink]="['/affaires', id_client]">Affaire N° {{client.affaire}}</a>
  </li>

  <li *ngIf="!errorLoading" routerLinkActive="active">
    <a routerLink="gestion-moe">Gérer les MOE</a>
  </li>

  <li *ngIf="!errorLoading" routerLinkActive="active">
    <a [routerLink]="['/affaires', id_client, 'suivi', id_GP, 'devis']">GP</a>
  </li>

  <li *ngFor="let artisan of artisansByClientList | async" routerLinkActive="active">
    <a [routerLink]="['/affaires', id_client, 'suivi', artisan._id, 'devis']">{{artisan.corps_metier}}</a>
  </li>

</ul>