<button class="btn btn-primary" (click)="annulerSelection()">Voir tous les clients</button>
<div class="checkbox">
  <label>
    <input type="checkbox" value="{{historique}}" [(ngModel)]="historique" (click)="updateCheckedOptions()"> Afficher l'historique des données
  </label>
</div>
<br>
<div class="container-fluid col-sm-6 col-md-6">
  <h4 style="text-align: center;">Client</h4>
  <!-- Client table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Tél</th>
        <th>Sélection</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of listClient" [ngClass]="{'rowColor' : selectedClient._id === client._id}">
        <td *ngIf="client.status_client">
          <img src="{{status_true}}" alt="true">
        </td>
        <td *ngIf="!client.status_client">
          <img src="{{status_false}}" alt="false">
        </td>
        <td>{{client.nom}}</td>
        <td>{{client.prenom}}</td>
        <td>{{client.email}}</td>
        <td>{{client.numTel}}</td>
        <td>
          <div class="btn-group-vertical">
            <a class="btn btn-success" (click)="onSelect(client)">Selectionnez</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <!-- Facture global table -->
  <div class="container-fluid">
    <h4 style="text-align: center;">Factures</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Statut</th>
          <th>Ref</th>
          <th>Date</th>
          <th>Montant total TTC</th>
          <th>Montant facturé TTC</th>
          <th>Montant réglé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fg of listFactureGlobal">
          <td *ngIf="fg.status_factureGlobal">
            <img src="{{status_true}}" alt="true">
          </td>
          <td *ngIf="!fg.status_factureGlobal">
            <img src="{{status_false}}" alt="false">
          </td>
          <td>{{fg.ref_factureGlobal}}</td>
          <td>{{fg.date_creation | date: 'dd/MM/yyyy'}}</td>
          <td>{{fg.montantTtcTotal}}</td>
          <td>{{fg.montantTtcFacture}}</td>
          <td>{{fg.montantTtcRegle}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Devis table -->
<div class="container-fluid col-sm-6 col-md-6">
  <h4 style="text-align: center;">Devis</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ref</th>
        <th>Date</th>
        <th>Montant HT</th>
        <th>Taux TVA €</th>
        <th>Montant TTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of listDevis">
        <td>{{d.ref_devis}}</td>
        <td>{{d.date_creation | date: 'dd/MM/yyyy'}}</td>
        <td>{{d.montantHt}}</td>
        <td>{{d.tauxTva}}</td>
        <td>{{d.montantTtc}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>

  <!-- Facture accompte table -->
  <div class="container-fluid">
    <h4 style="text-align: center;">Factures d'accompte</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Statut</th>
          <th>Ref</th>
          <th>Date</th>
          <th>Montant facturé TTC</th>
          <th>Règlement client TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of listFactureAccompte">
          <td *ngIf="f.status_factureAccompte">
            <img src="{{status_true}}" alt="true">
          </td>
          <td *ngIf="!f.status_factureAccompte">
            <img src="{{status_false}}" alt="false">
          </td>
          <td>{{f.ref_factureAccompte}}</td>
          <td>{{f.date_creation | date: 'dd/MM/yyyy'}}</td>
          <td>{{f.montantFacture}}</td>
          <td>{{f.reglementClient}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Charts -->
<!-- PieChart -->
<!-- TODO: Afficher que si data, message 'no data to display' sinon -->
<div *ngIf="pieChartData !== [0,0,0]" style="display: block">
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>

<!-- LineChart -->
<div style="display: block;">
  <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>