<div class="container-fluid">
  <h4>Num Affaire : {{client.affaire}}</h4>
  <h4>Client: {{client.nom}} {{client.prenom}}</h4>

  <!-- 
select à 2 colonnes ?
ajouter modal pour sécuriser la suppression d'artisan à l'affaire => problème si suppr et remet : perte des données 
==> Solution ?
-->
  <div class="container">
    <div class="col-sm-5">
      <h3>Artisans lié à l'affaire</h3>
      <select class="form-control" size="8">
        <option (click)="selectArtisanToRemove(clientArtisan)" *ngFor="let clientArtisan of clientArtisansList | async">{{clientArtisan.corps_metier}} {{clientArtisan.nom_societe}}</option>
      </select>
    </div>

    <div class="col-sm-2 select-btn btn-group-vertical">
      <button class="btn btn-default" (click)="removeArtisanToAffaire()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button class="btn btn-default" (click)="addArtisanToAffaire()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btn-success" data-target="#myModal" data-toggle="modal">Sauvegarder</button>
    </div>

    <div class="col-sm-5">
      <h3>Liste d'artisan enregistré <a class="btn btn-default add-btn" routerLink="artisans">Ajouter un Artisan</a></h3>  
      
      <select class="form-control" size="8">
        <option (click)="selectArtisanToAdd(artisan)" *ngFor="let artisan of artisansList | async">{{artisan.corps_metier}} {{artisan.nom_societe}}</option>
      </select>
    
    </div>

  </div>
</div>

<!-- Confirm delete Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form #modalForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title">Confirmer modifications</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir continuer ?
            <br> Toute modification peut entraîner la perte des données pour cet artisan.</p>
          <div *ngIf="historique">
            <label for="descriptionModif">Description :</label>
            <input class="form-control" id="descriptionModif" name="descriptionModif" type="text" placeholder="Expliquer la modification" [(ngModel)]="descriptionModif" required>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" (click)="sauverModifications()">Confirmer</button>
          <button class="btn btn-default" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</div>