<span class="col-sm-3"></span>
<div class="container col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Valider Devis</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" [formGroup]="validerDevisForm" (submit)="validerDevis()">
                <div class="form-group" [ngClass]="{'has-error': (validerDevisForm.controls.ref_factureGlobal.errors && validerDevisForm.controls.ref_factureGlobal.dirty) 
                || (validationRef && validerDevisForm.controls.ref_factureGlobal.dirty),
                'has-success': (!validerDevisForm.controls.ref_factureGlobal.errors && !validationRef)}">
                    <label class="control-label" for="ref_factureGlobal">Ref :</label>
                    <input type="text" class="form-control" name="ref_factureGlobal" id="ref_factureGlobal" formControlName="ref_factureGlobal"
                        value="{{devis.ref_devis}}" (blur)="verifRef()" autofocus required />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" *ngIf="validationRef">
                            Ref déjà utilisée
                        </li>
                        <li class="list-group-item list-group-item-danger" *ngIf="validerDevisForm.controls.ref_factureGlobal.errors?.required && validerDevisForm.controls.ref_factureGlobal.dirty">
                            Ce champ est requis
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label" for="date_creation">Date création :</label>
                    <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{devis.date_creation}}"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="montantHt">Montant HT :</label>
                    <input type="text" class="form-control" name="montantHt" id="montantHt" formControlName="montantHt" value="{{devis.montantHt}}"
                        (blur)="calculMontant()" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="tauxTva">Taux TVA :</label>
                    <input type="text" class="form-control" name="tauxTva" id="tauxTva" formControlName="tauxTva" value="{{devis.tauxTva}}" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="montantTtcTotal">Montant Total Facture TTC :</label>
                    <input type="text" class="form-control" name="montantTtcTotal" id="montantTtcTotal" formControlName="montantTtcTotal" value="{{devis.montantTtc}}"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="client">Client :</label>
                    <input type="text" class="form-control" name="client" id="client" formControlName="client" value="{{client.nom}} {{client.prenom}}"
                    />
                </div>
                <div class="form-group">
                    <md-spinner *ngIf="processing" style="float: left;width: 24px;height: 24px;"></md-spinner>
                    <button [disabled]="!validerDevisForm.valid || processing || validationRef" type="submit" class="btn btn-success">Sauver</button>
                    <button [disabled]="processing" class="btn btn-default" (click)="onCancel()">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
<span class="col-sm-3"></span>