<!-- <div class="container">
  <h2>Reporter un Bug</h2>
  <h4>Pour reporter un bug ou proposer une amélioration, suivez la démarche suivante :</h4>
  <ul>
    <li>Cliquer sur le bouton "Reporter un Bug" pour ouvrir la page Issues du projet</li>
    <li>Cliquer sur new Issue</li>
    <li>Se connecter (Sign in) ou créer un compte (Sign up) sur le site github</li>
    <li>Remplir les différents champs en décrivant le problème</li>
    <li class="italic">Conseil : Essayer d'être précis dans la description du bug en décrivant l'action effectuée et si possible la démarche
      pour reproduire le problème</li>
  </ul>
  <br>
  <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/guinardpaul/GPAssocies-MEAN-App/milestone/2">Reporter un Bug</a>

</div> -->


<!-- ============================================= -->
<!-- NOT USED -->
<!-- ============================================= -->
<div class="container-fluid">
  <h4 style="text-align: center;">Bugs</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Date création</th>
        <th>Description</th>
        <th>Criticité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of listBugs | orderByDate: 'date_creation'">
        <td>{{b.status_correction}}</td>
        <td>{{b.date_creation | date: 'dd/MM/yyyy'}}</td>
        <td>{{b.description}}</td>
        <td>{{b.criticite}}</td>
        <td>
          <div class="btn-group-vertical">
            <button class="btn btn-success" (click)="onUpdateBug(b)">Modifier</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="getBugToDelete(b)">Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="onAdd()">Ajouter Bug</button>
  <br/>
  <br/>

  <!-- Confirm delete Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmer suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir supprimer ce bug ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="deleteBug(bug._id)" data-dismiss="modal">Supprimer</button>
          <button class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Annuler</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Bug form -->
  <span class="col-sm-3"></span>
  <div class="container-fluid col-sm-6" *ngIf="mode">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Création Bug</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="bugForm" (submit)="addBug()">
          <div class="form-group">
            <label class="control-label" for="date_creation">Date création :</label>
            <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{bug.date_creation}}"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="description">Description :</label>
            <textarea type="text" class="form-control" name="description" id="description" formControlName="description" value="{{bug.description}}"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="criticite">Criticité :</label>
            <select class="form-control" name="criticite" id="criticite" formControlName="criticite" required>
              <option value="">Criticité</option>
              <option *ngFor="let key of keys" [value]="key">{{criticite[key]}}</option>
            </select>
          </div>
          <div class="form-group">
            <button [disabled]="!bugForm.valid || processing" type="submit" class="btn btn-success">Ajouter Bug</button>
            <button [disabled]="processing" (click)="onCancel()" class="btn btn-default">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Update Bug form -->

  <div class="container-fluid col-sm-6" *ngIf="modeUpdate">

    <div class="panel panel-warning ">
      <div class="panel-heading">
        <h4>Modification Bug</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="bugFormUpdate" (submit)="updateBug()">
          <div class="form-group">
            <label class="control-label" for="status_correction">Statut :</label>
            <select class="form-control" name="status_correction" id="status_correction" formControlName="status_correction" required>
              <option *ngFor="let number of numbers" ([value])="number">{{status_correction[number]}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="date_creation">Date création :</label>
            <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{bug.date_creation}}"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="description">Description :</label>
            <input type="text" class="form-control" name="description" id="description" formControlName="description" value="{{bug.description}}"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="criticite">Criticité :</label>
            <select class="form-control" name="criticite" id="criticite" formControlName="criticite" required>
              <option *ngFor="let key of keys" ([value])="key">{{criticite[key]}}</option>
            </select>
          </div>
          <div class="form-group">
            <button [disabled]="!bugFormUpdate.valid || processing" type="submit" class="btn btn-warning">Modifier Bug</button>
            <button [disabled]="processing" (click)="onCancel()" class="btn btn-default">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <span class="col-sm-3"></span>