<div class="container-fluid">
  <h4>Num Affaire : {{client.affaire}}</h4>
  <h4>Client: {{client.nom}} {{client.prenom}}</h4>

  <div class="container-fluid">
    <table class="table table-striped" *ngIf="processed">
      <thead>
        <th>Modifier</th>
        <th>Statut</th>
        <th>Artisan</th>
        <th>Montant Total TTC</th>
        <th>Montant Facturé TTC</th>
        <th>Montant Réglé</th>
      </thead>
      <tbody>
        <tr *ngFor="let artisan of artisanData">
          <td>
            <a [routerLink]="['gestion-moe/artisans/', artisan.artisan_id]">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
          </td>
          <td>{{artisan.status}}</td>
          <td>{{artisan.artisan_corps_metier}}</td>
          <td>{{artisan.montantTotalTTC}}</td>
          <td>{{artisan.montantFactureTTC}}</td>
          <td>{{artisan.montantRegle}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
  <p>Résumé de l'affaire (graph ou tableau à définir)</p>
  <p>bouton ajout MOE:</p>
  <p>
    quand on clique, ajoute un duo list sélectionnable pour ajouter ou enlever un artisans d'une affaire.</p>
  <p>
    mettre un danger lorsqu'on déselectionne un artisan... voir comment le gérer dans la BDD pour ne pas perdre toutes les données
    d'un artisans si on l'enlève de l'affaire.
  </p>
  <p>
    Ajouter la possibilité de créer des artisans et des corps de métiers qui seraient non présent dans la BDD (nouvelle page
    avec retour direct dans l'id de l'affaire lorsque les modifications sont terminées)
  </p>
  <p>Ajouter les différents MOE liés à l'affaire dans la navbar pour accéder au suivi</p>
  <p>(Ajouter bouton MOE ou liste déroulante dans cette page pour charger les données spécifiques à cet MOE dans le tableau
    de bord de l'affaire)</p>
</div>