<div class="container-fluid">
    <h4>{{factureGlobal.ref_factureGlobal}} {{factureGlobal.montantTtc}}</h4>
    <a class="btn btn-default" [routerLink]="['/affaires', factureGlobal.client, 'suivi', id_artisan, 'devis']">Retour page Devis/Factures</a>
</div>
<div class="container-fluid">
    <h4 style="text-align: center;">Factures d'accompte</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Ref</th>
                <th>Date</th>
                <th>Montant facturé TTC</th>
                <th>Règlement client TTC</th>
                <th>Facture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of listFactureAccompte | orderByDate: 'date_creation'">
                <td *ngIf="f.status_factureAccompte">
                    <img src="{{status_true}}" alt="true">
                </td>
                <td *ngIf="!f.status_factureAccompte">
                    <img src="{{status_false}}" alt="false">
                </td>
                <td>{{f.ref_factureAccompte}}</td>
                <td>{{f.date_creation | date: 'dd/MM/yyyy'}}</td>
                <td>{{f.montantFacture.toFixed(2)}}</td>
                <td>{{f.reglementClient.toFixed(2)}}</td>
                <td>{{factureGlobal.ref_factureGlobal}}</td>
                <td>
                    <div class="btn-group-vertical">
                        <button class="btn btn-success" (click)="onAddReglement(f)">Règlements</button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="getFactureAccompteToDelete(f)">Supprimer</button>
                    </div>
                </td>
            </tr>
            <tr class="color-sum" *ngIf="listFactureAccompte.length > 0">
                <th>Total</th>
                <th>:</th>
                <th></th>
                <th>{{getSumMontantFacture()}}</th>
                <th>{{getSumReglementClient()}}</th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="onAddFactureAccompte()">Ajouter facture d'accompte</button>
    <br/>
    <br/>

    <!-- Confirm delete Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form #modalForm="ngForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmer suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir supprimer {{factureAccompte.ref_factureAccompte}} ?</p>
                        <div *ngIf="historique">
                            <label for="descriptionModif">Description :</label>
                            <input type="text" class="form-control" id="descriptionModif" name="descriptionModif" [(ngModel)]="descriptionModif" placeholder="description de la suppression ..."
                                required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" (click)="deleteFactureAccompte(factureAccompte)" [disabled]="!modalForm.form.valid" data-dismiss="modal">Supprimer</button>
                        <button class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- addFactureAccompte Form -->
    <div class="container" *ngIf="mode">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Facture d'accompte</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" [formGroup]="factureForm">
                    <div class="form-group" [ngClass]="{'has-error': (factureForm.controls.ref_factureAccompte.errors && factureForm.controls.ref_factureAccompte.dirty)
          || (validationRef && factureForm.controls.ref_factureAccompte.dirty),
          'has-success': (!factureForm.controls.ref_factureAccompte.errors && !validationRef)}">
                        <label class="control-label" for="ref_factureAccompte">Ref :</label>
                        <input type="text" class="form-control" name="ref_factureAccompte" id="ref_factureAccompte" formControlName="ref_factureAccompte"
                            (blur)="verifRef()" autofocus required />
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger" *ngIf="factureForm.controls.ref_factureAccompte.errors?.required && factureForm.controls.ref_factureAccompte.dirty">
                                Ce champ est requis
                            </li>
                            <li class="list-group-item list-group-item-danger" *ngIf="validationRef && factureForm.controls.ref_factureAccompte.dirty">
                                Ref déjà utilisée
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="date_creation">Date création :</label>
                        <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{factureGlobal.date_creation}}"
                        />
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (factureForm.controls.montantFacture.errors && factureForm.controls.montantFacture.dirty)
           || (validationMontantFacture && factureForm.controls.montantFacture.dirty),
          'has-success': (!factureForm.controls.montantFacture.errors && !validationMontantFacture)}">
                        <label class="control-label" for="montantFacture">Montant facturé :</label>
                        <input type="text" class="form-control" name="montantFacture" id="montantFacture" formControlName="montantFacture" (blur)="verifMontantFacture()"
                            required />
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger" *ngIf="factureForm.controls.montantFacture.errors?.required && factureForm.controls.montantFacture.dirty">
                                Ce champ est requis
                            </li>
                            <li class="list-group-item list-group-item-danger" *ngIf="factureForm.controls.montantFacture.errors?.isNumber && factureForm.controls.montantFacture.dirty && !factureForm.controls.montantFacture.errors?.required">
                                Le montant doit être positif et doit posséder au maximum 4 chiffres après la virgule
                            </li>
                            <li class="list-group-item list-group-item-danger" *ngIf="validationMontantFacture">
                                Le montant est supérieur au montant facturé TTC de la facture
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="factureGlobal">factureGlobal :</label>
                        <input type="text" class="form-control" name="factureGlobal" id="factureGlobal" formControlName="factureGlobal" value="{{factureGlobal.ref_factureGlobal}}"
                            required />
                    </div>
                    <div class="form-group">
                        <md-spinner *ngIf="processing" style="float: left;width: 24px;height: 24px;"></md-spinner>
                        <button [disabled]="!factureForm.valid || processing || validationMontantFacture" (click)="addFactureAccompte()" class="btn btn-success">Créer facture d'accompte</button>
                        <button [disabled]="processing" (click)="onCancel()" class="btn btn-default">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- addReglement form -->
    <div class="container" *ngIf="modeAddReglement">
        <div class="panel panel-info col-sm-6">
            <div class="panel-heading">
                <h4>Ajouter règlement</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" [formGroup]="reglementForm">
                    <div class="form-group">
                        <label class="control-label" for="ref_factureAccompte">Ref Facture d'accompte :</label>
                        <input type="text" class="form-control" name="ref_factureAccompte" id="ref_factureAccompte" formControlName="ref_factureAccompte"
                            value="{{factureAccompte.ref_factureAccompte}}" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="date_creation">Date création :</label>
                        <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{factureAccompte.date_creation}}"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="montantFacture">Montant facturé :</label>
                        <input type="text" class="form-control" name="montantFacture" id="montantFacture" formControlName="montantFacture" value="{{factureAccompte.montantFacture.toFixed(2)}}"
                        />
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (reglementForm.controls.reglementTtc.errors && reglementForm.controls.reglementTtc.dirty)
          || (validationReglement && reglementForm.controls.reglementTtc.dirty),
         'has-success': (!reglementForm.controls.reglementTtc.errors && !validationReglement)}">
                        <label class="control-label" for="reglementTtc">
                            Règlement client :

                        </label>
                        <input type="text" class="form-control" name="reglementTtc" id="reglementTtc" formControlName="reglementTtc" (blur)="verifReglement()"
                            autofocus required />
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger" *ngIf="reglementForm.controls.reglementTtc.errors?.required && reglementForm.controls.reglementTtc.dirty">
                                Ce champ est requis
                            </li>
                            <li class="list-group-item list-group-item-danger" *ngIf="reglementForm.controls.reglementTtc.errors?.isNumber && reglementForm.controls.reglementTtc.dirty && !reglementForm.controls.reglementTtc.errors?.required">
                                Ce n'est pas un nombre positif
                            </li>
                            <li class="list-group-item list-group-item-danger" *ngIf="validationReglement">
                                Le règlement est supérieur au montant facturé
                            </li>
                        </ul>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [ngModel]="reglementComplet" [ngModelOptions]="{standalone: true}" (click)="onReglementComplet()"> Règlement complet
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <md-spinner *ngIf="processing" style="float: left;width: 24px;height: 24px;"></md-spinner>
                        <button [disabled]="!reglementForm.valid || processing || validationReglement" (click)="addReglement()" class="btn btn-success">Ajouter règlement</button>
                        <button [disabled]="processing" (click)="onCancel()" class="btn btn-default">Annuler</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Reglement Table -->
        <div class="col-sm-6" *ngIf="listReglement.length > 0">
            <h4 style="text-align: center;">Règlements</h4>
            <table class="table table-striped">
                <thead>
                    <th>Date création</th>
                    <th>Règlement client</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let r of listReglement">
                        <td>{{r.date_reglement | date :'dd/MM/yyyy'}}</td>
                        <td>{{r.reglementTtc.toFixed(2)}}</td>
                        <td>
                            <md-spinner *ngIf="processing" style="float: left;width: 24px;height: 24px;"></md-spinner>
                            <button [disabled]="processing" class="btn btn-danger" (click)="deleteReglement(r._id, r.reglementTtc)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>